<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout 3</title>
    <style media="screen">

    .margin{
      margin-left: 200px;
      border-left: 2px solid;
      padding-left: 100px;
      width: 400px;
    }

    .two {
      margin-left: 400px;
    }


    .three {
      margin-left: 600px;
    }


    </style>
  </head>
  <body>

    <div class="margin">
      <h1>header</div>
      <h2>header</div>
    </div>

    <div class="margin two">
      It is our obligation as educators and intellectuals to make sure that the bulk of our production ends up there, preferably with free and unfettered access to all.
    </div>

    <div class="margin three">
      It is our obligation as educators and intellectuals to make sure that the bulk of our production ends up there, preferably with free and unfettered access to all.
    </div>


  </body>
</html>
