
.homepage {
  font-size: 150px;
  color: pink;
  font-family: ;
  font-weight: bold;
  text-decoration: none;
  text-outline: 2px pink;
  text-shadow: 3px 2px red;
  margin-top: 100px;
  margin-left: auto;
}


.nav {
  position: ;
  top: 30px;
  left: 60px;
  text-decoration: none;
  font-family: courier new;
  letter-spacing: ;
  font-size: 25px;
  color: white;
  background-color: peachpuff;
  padding: 4px;
  width: 100%;
  margin-left: 50px;
}

a {
  color: white;
  text-decoration: none;
  float: right;
  margin-right: 130px;
}


body{
  background-color:;
}

.title {
  font-family: Apple Chancery;
  margin-left: 50px;
  color: navy;
}

.paragraph {
  font-family: andalemono;
  line-height: 180%;
  font-size: 14px;
  color: navy;
  width: 850px;
  margin-left: 50px;
}




.link{
  font-family: avenir;
  font-size: 14px;
  color: navy;
  width: 500px;
  margin-left: 50px;
}





.blueheader {
  color: #b30059;
  margin-left: 50px;
  font-size: 40px;
  width: 850px;
}

.blueheader:hover {
color: purple;
}







.hoverlink3 {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink3:hover {
  background-color: red;
  color: white;
}

.hoverlink1 {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink1:hover {
  background-color: red;
  color: white;
}

.hoverlink {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink:hover {
  background-color: red;
  color: white;
}





.rollover {
  font-weight: bold;
  text-decoration: underline;
}

.rollover:hover {
  color: white;
  background-color: red;
}





.blur {
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
  transition: all 2s;
}


.blur.showme {
  opacity: 1;
  filter: blur(0px);
  transition: all 2s;
}

.rotate {
  position: fixed;
  visibility; hidden;
  transform: scale(0) rotate(0deg);
  pointer-events: none;
  transition: all 2s;
}


.rotate.showme {
  visibility: visible;
  transform: scale(1) rotate(360deg);
  transition: all 2s;
}

.hover {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}


.hover.showme {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}









.ios67__image {
  bottom: 200px;
  right: 70px;
}

.disfluenc__image {
  bottom: 200px;
  right: 70px;
}

.cover__image {
  bottom: 100px;
  right: 150px;
}

.inside__image {
  bottom: 10px;
  right: 50px;
}

.mosesark__image {
  bottom: 200px;
  right: 200px;
}

.graphs__image {
  bottom: 200px;
  right: 40px;
}

.apple1985__image {
  bottom: 200px;
  right: 200px;
}

.apple2017__image {
  bottom: 200px;
  right: 200px;
}

.noah__image {
  bottom: 200px;
  right: 200px;
}

.moses__image {
  bottom: 200px;
  right: 200px;
}

.noahsark__image {
  bottom: 240px;
  right: 120px;
}




.disfluency {
  width: 650px;
  margin-left: 100px;
  font-family: comicsansms;
  line-height: 220%;
  font-size: 15px;
  color: darkorchid;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.disfluency.showme {
  height: 3500px;
  transition: all 2s;
}

.ark {
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.arkcontent {
  width: 650px;
  margin-left: 100px;
  font-family: courier;
  font-size: 15px;
  line-height: 170%;
  color: white;
  background-color: pink;
  padding: 20px;
}

.ark.showme {
  height: 1780px;
  transition: all 2s;
}





.disheading {
  color: tomato;
  font-family: impact;
  font-size: 22px;
  line-height: 250%;
}

.arkheading {
  line-height: 450%;
  color: yellow;
  font-family: Zapfino;
}

.screenheading {
  line-height: 200%;
  color: purple;
  font-family: copperplate;
  font-size: 18px;
}




.screenvspaper {
  width: 650px;
  margin-left: 100px;
  font-family: skia;
  line-height: 200%;
  font-size: 15px;
  color: blue;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.screenvspaper.showme {
  height: 3580px;
  transition: all 2s;
}


.babylink{
  colour: blue;
}
