
.homepage {
  font-size: 150px;
  color: pink;
  font-family: ;
  font-weight: bold;
  text-decoration: none;
  text-outline: 2px pink;
  text-shadow: 3px 2px red;
  margin-top: 100px;
  margin-left: auto;
}


.nav {
  position: ;
  top: 30px;
  left: 60px;
  text-decoration: none;
  font-family: courier new;
  letter-spacing: ;
  font-size: 25px;
  color: white;
  background-color: peachpuff;
  padding: 4px;
  width: 100%;
  margin-left: 50px;
}

a {
  color: white;
  text-decoration: none;
  float: right;
  margin-right: 130px;
}


body{
  background-color:;
}
