.title {
  font-family: avenir;
}

.blueheader {
  color:blue;
}

.number {
  border: 1px solid red;
  color: red;
  padding: 5px;
}

.number:hover {
  background-color: red;
  color: white;
}

.blueheader:hover {
  background-color: pink;
  color: white;
}



.footnote {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-family: avenir;
  display: none;
}

.footnote.showme {
  display: block;
}



.highlight {
  position: fixed;
  top: 50px;
  left: 10px;
  transition: 2s;
}

.highlight.showme {
  display: block;
  background-color: blue;
  color: white;
}




.thumbnail {
  width: 400px;
}

.thumbnail.enlarge {
  width: 800px;
}

/*Codepen work*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.alignment__bottom {
  align-items: flex-end;
}

.col__1of3 {
  flex: 0 0 33.333%;
}

.col__2of3 {
  flex: 0 0 66.666%;
}

.content {
  background-color: pink;
  margin: 10px;
  padding: 10px;
}

.content img {
  width:100%
}


.title {
  flex:1 1;
  padding-left: 40px;
  font-size: 24px;
}

.nav a {
  flex: 1 1;
  padding: 10px;
  text-align: center;
  color: red;
  text-decoration: none;
}

.heroimage {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.herotitle {
  font-size: 30px;
  width: 60%;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}
