

body{
  background-color:;
}

.title {
  font-family: avenir;
  margin-left: 50px;
  color: navy;
}

.paragraph {
  font-family: andalemono;
  line-height: 180%;
  font-size: 14px;
  color: navy;
  width: 850px;
  margin-left: 50px;
}




.link{
  font-family: avenir;
  font-size: 14px;
  color: navy;
  width: 500px;
  margin-left: 50px;
}





.blueheader {
  color: navy;
  margin-left: 50px;
  font-size: 26px;
}

.blueheader:hover {
  background-color: peachpuff;
  color: white;
}





.indexhomepage {
  margin-right: 40px;
  margin-top: 40px;
  text-align: right;
  font-size: 15px;
  font-family: avenir;
  color: magenta;
}







.hoverlink3 {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink3:hover {
  background-color: red;
  color: white;
}

.hoverlink1 {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink1:hover {
  background-color: red;
  color: white;
}

.hoverlink {
  font-weight: bold;
  text-decoration: underline;
}

.hoverlink:hover {
  background-color: red;
  color: white;
}





.rollover {
  font-weight: bold;
  text-decoration: underline;
}

.rollover:hover {
  color: white;
  background-color: red;
}






.blur {
  position: fixed;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
  transition: all 2s;
}


.blur.showme {
  opacity: 1;
  filter: blur(0px);
  transition: all 2s;
}

.rotate {
  position: fixed;
  visibility; hidden;
  transform: scale(0) rotate(0deg);
  pointer-events: none;
  transition: all 2s;
}


.rotate.showme {
  visibility: visible;
  transform: scale(1) rotate(360deg);
  transition: all 2s;
}









.ios67__image {
  bottom: 200px;
  right: 70px;
}

.cover__image {
  bottom: 100px;
  right: 150px;
}

.inside__image {
  bottom: 10px;
  right: 50px;
}

.mosesark__image {
  bottom: 200px;
  right: 200px;
}

.graphs__image {
  bottom: 200px;
  right: 40px;
}

.disfluenc__image {
  bottom: 200px;
  right: 200px;
}

.apple1985__image {
  bottom: 200px;
  right: 200px;
}

.apple2017__image {
  bottom: 200px;
  right: 200px;
}

.noah__image {
  bottom: 200px;
  right: 200px;
}

.moses__image {
  bottom: 200px;
  right: 200px;
}

.noahsark__image {
  bottom: 200px;
  right: 200px;
}

.babyscreen__image {
  bottom: 200px;
  right: 200px;
}





.disfluency {
  width: 650px;
  margin-left: 100px;
  font-family: comicsansms;
  line-height: 220%;
  font-size: 15px;
  color: cornflowerblue;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.disfluency.showme {
  height: 2850px;
  transition: all 2s;
}

.ark {
  width: 650px;
  margin-left: 100px;
  font-family: courier;
  font-size: 15px;
  line-height: 170%;
  color: white;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
  background-color: pink;
  padding: 20px;
}

.ark.showme {
  height: 1600px;
  transition: all 2s;
}





.disheading {
  color: magenta;
}

.arkheading {
  line-height: 250%;
  color: yellow;
}

.screenheading {
  line-height: 250%;
  color: purple;
}




.screenvspaper {
  width: 650px;
  margin-left: 100px;
  font-family: skia;
  line-height: 200%;
  font-size: 15px;
  color: deeppink;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.screenvspaper.showme {
  height: 3530px;
  transition: all 2s;
}






.nav {
  position: fixed;
  top: 30px;
  left: 60px;
  text-decoration: none;
  font-family: impact;
  letter-spacing: 4px;
  font-size: 20px;
  color: white;
  background-color: peachpuff;
  padding-left: 5px;
  padding-right: 5px;
}
