

body{
  background-color:;
}

.title {
  font-family: avenir;
  margin-left: 50px;
  color: navy;
}

.paragraph {
  font-family: avenir;
  font-size: 10px;
  color: navy;
  width: 600px;
  margin-left: 50px;

}

.link{
  font-family: avenir;
  font-size: 10px;
  color: navy;
  width: 500px;
  margin-left: 50px;
}

.blueheader {
  color: navy;
  margin-left: 50px;
  font-size: 26px;
}

.blueheader:hover {
  background-color: peachpuff;
  color: white;
}


.highlight {
  top: 50px;
  left: 10px;
  transition: 2s;
  font-size: 22px;
}


.highlight.showme {
  display: block;
  background-color: white;
  color: pink;
}

.indexhomepage {
  margin-right: 40px;
  margin-top: 40px;
  text-align: right;
  font-size: 15px;
  font-family: avenir;
  color: magenta;
}

.hoverlink3 {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.hoverlink3:hover {
  background-color: red;
  color: white;
}


.disfluency {
  width: 500px;
  margin-left: 80px;
  font-family: arial;
  font-size: 10px;
  color: cornflowerblue;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.disfluency.showme {
  height: 2750px;
  transition: all 2s;
}

.ark {
  width: 520px;
  margin-left: 120px;
  font-family: times;
  font-size: 10px;
  color: orange;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.ark.showme {
  height: 1800px;
  transition: all 2s;
}

.caption1 {
  margin-left: 140px;
}

.caption2 {
  margin-left: 140px;
}

.screenvspaper {
  width: 520px;
  margin-left: 120px;
  font-family: times;
  font-size: 10px;
  color: deeppink;
  height: 0px;
  overflow: hidden;
  transition: all 2s;
}

.screenvspaper.showme {
  height: 3500px;
  transition: all 2s;

}

.mosesark {
  margin-left: 200px;
}

.nav {
  position: fixed;
  top: 10px;
  left: 50px;
  text-decoration: none;
  font-family: avenir;
}
