.title {
  font-family: avenir;
  margin-left: 50px;
}

.paragraph {
  font-family: avenir;
  font-size: 18px;
  color: navy;
  width: 700px;
  margin-left: 50px;

}

.link{
  font-family: avenir;
  font-size: 18px;
  color: navy;
  width: 700px;
  margin-left: 50px;
}

.blueheader {
  color: red;
  margin-left: 50px;
}

.blueheader2 {
  color: blue;
  margin-left: 50px;
}

.number {
  border: 1px solid red;
  color: red;
  padding: 5px;
}

.number:hover {
  background-color: red;
  color: white;
}

.blueheader:hover {
  background-color: pink;
  color: white;
}

.footnote {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-family: avenir;
  display: none;
}

.footnote.showme {
  display: block;
}


.highlight {
  top: 50px;
  left: 10px;
  transition: 2s;
}

.highlight2 {
  left: 10px;
  transition: 2s;
}

.highlight.showme {
  display: block;
  background-color: blue;
  color: white;
}

.thumbnail {
  width: 400px;
}

.thumbnail.enlarge {
  width: 800px;
}
